<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:300&display=swap&subset=cyrillic" rel="stylesheet">

  <link rel="stylesheet" href="static/normalize.css">
  <link rel="stylesheet" href="static/components.css">
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/header-page.css">
  <link rel="stylesheet" href="static/section-top.css">
  <link rel="stylesheet" href="static/section-about.css">
  <link rel="stylesheet" href="static/section-contacts.css">
  <link rel="stylesheet" href="static/footer-page.css">
  <link rel="stylesheet" href="static/popup.css">

  <title>Treners</title>
</head>
<body>

<!-- header-page -->
<header class="header-page">
  <div class="container header-page__container">
    <div class="header-page__start">
      <div class="logo">
        <img class="logo__img" src="/static/img/common/logo.svg" alt="" width="127" height="21">
      </div>
    </div>
    <div class="header-page__end">
      <nav class="header-page__nav">
        <ul class="header-page__ul">
          <li class="header-page__li">
            <a class="header-page__link" href="#">
              <span class="header-page__text">цно</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="phone">
        <a class="phone__item header-page__phone" href="tel:+79999999999">+7 (999) 999-99-99</a>
      </div>
      <div class="header-page__hamburger">
        <button class="btn-menu" type="button">
          <span class="btn-menu__box">
            <span class="btn-menu__inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- /.header-page -->


<!-- section-top -->
<section class="section-top">
  <div class="container section-top__container">
            <p class="section-top__info">от ЦНО</p>
    <h1 class="section-top__title">Лучшие спикеры</h1>
    <div class="section-top__btn">
      <button class="btn" type="button" data-scroll-to="section-catalog">Выбрать</button>
    </div>
  </div>
</section>
<!-- /.section-top -->

<!-- section-catalog -->
<section class="section section-catalog">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title section__title--accent">Тренеры</h2>
    </header>
    <div class="catalog">
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Lera.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Валерия Гижевская</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Vitaliy.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Виталий Филатов</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Kirill.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Кирилл Игуменов</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Elina.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Элина Салугина</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Nadzeya.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Надежда Селицкая</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак</p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Nikolay.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Николай Коновалов</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Damir.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Дамир Шарафутдинов</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак </p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Veronika.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Вероника Писарчик</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак</p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
      <div class="catalog__item">
        <div class="product catalog__product">
          <img src="/static/photos_tr/Egor.jpg" alt="" class="product__img">
          <div class="product__content">
            <h3 class="product__title">Егор Леонов</h3>
            <p class="product__description">Тут будет написано, что этот человек умеет круто делать вот так и вот эдак</p>
          </div>
          <footer class="product__footer">
            <div class="product__bottom">
              <button class="btn product__btn" type="button">Узнать больше</button>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.section-catalog -->

        <footer class="footer">
            <div class="container"></div>

                <div class="footer_inner">
                    <div class="footer_col footer_col--first">
                        <div class="footer_logo">ЦНО</div>
                        <div class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo co</div>
                        <div class="footer_social">
                            Folow us: 
                            <a href="#" target="_blank">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" target="_blank" >                               
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" target="_blank" >                               
                                <i class="far fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="footer_col footer_col--second">
                        <div class="footer_title">Вконтакте</div>
                        <div class="vk_image">
                            <img class="vk_size" src="/static/images/vk_img.jpg" alt="">
                        </div>
                    </div>
                    <div class="footer_col footer_col--third">
                        <div class="footer_title">Инстаграм</div>
                    </div> -->
                </div>
        </footer>

</body>
</html>